/* defaults */
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.content-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#mobile-menu {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p {
	margin-bottom: 18px;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;
	color: #22343d;
}
h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: #22343d;
	margin-bottom: 20px;
}
h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	color: #22343d;
}
h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #22343d;
}

ul {
	padding-left: 65px;
}

ul li {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #22343d;
	text-align: left;
}

ul li {
	list-style-type: none;
	position: relative;
	margin-bottom: 45px;
}
ul li::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(./images/li-check.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	border-radius: 14px;
	left: -65px;
}
ul li:nth-of-type(1)::before {
	background-color: #ff9900;
}
ul li:nth-of-type(2)::before {
	background-color: #f03e3d;
}
ul li:nth-of-type(3)::before {
	background-color: #4d8dff;
}
/* --------*/

/* helpers */
.d-flex {
	display: flex;
}
.flex-justify-start {
	justify-content: flex-start;
}
.flex-justify-end {
	justify-content: flex-end;
}
.flex-justify-center {
	justify-content: center;
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-justify-around {
	justify-content: space-around;
}
.flex-items-start {
	align-items: flex-start;
}
.flex-items-end {
	align-items: flex-end;
}
.flex-items-center {
	align-items: center;
}
.flex-items-baseline {
	align-items: baseline;
}
.flex-items-stretch {
	align-items: stretch;
}
.flex-row {
	flex-direction: row;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-column {
	flex-direction: column;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}
/* ------- */

/* buttons */
.button-primary {
	padding: 10px 25px;
	background: #02897a;
	border-radius: 4px;
	border: 1px solid #02897a;
	color: #fff;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	white-space: pre;
	cursor: pointer;
	width: fit-content;
}
.button-primary:hover {
	background: rgba(2, 137, 122, 0.8);
}
.button-outlined {
	color: #173a56;
	border: 1px solid #bcd0e5;
	background: transparent;
}
.button-outlined:hover {
	background: rgba(0, 0, 0, 0.1);
}

.button-link {
	background: transparent;
	color: #02897a;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.button-link img {
	margin-right: 9px;
}

.button-link:hover {
	background-color: transparent;
	text-decoration: underline;
}
.buttons-row {
	display: flex;
}

.buttons-row button + button {
	margin-left: 30px;
}
.buttons-container {
	margin-left: 9px;
}
.buttons-container button + button {
	margin-left: 24px;
}
/* ------- */

/* nav */
nav .nav-container {
	width: 100%;
}
nav .nav-container .main-nav a {
	color: #22343d;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	margin: 0 15px;
}

/* logo */
nav {
	height: 80px;
}
nav .logo-container .logo {
	text-decoration: none;
	cursor: pointer;
}
nav .logo-container .logo span {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 28px;
	color: #173a56;
	margin-left: 16px;
}
/* switcher */
.switcher {
	cursor: pointer;
	margin-left: 24px;
}
/* mobile menu */
.mobile-menu {
	display: none;
}

/* ------- */

/* sections */
section {
	/* margin: 0 auto 150px auto !important; */
	margin: 0 auto;
	padding: 80px 0 70px 0 !important;
}
section:nth-of-type(1) {
	/* margin: 25px auto 150px auto !important; */
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 70px !important;
}
section.two-columns > div {
	width: 50%;
}

.two-columns .img-col img {
	width: 100%;
	height: auto;
}
.two-columns .text-col {
	padding-right: 5%;
}
.two-columns.flex-row-reverse .text-col {
	padding-right: 0;
	padding-left: 5%;
}

.four-columns {
	background-image: url(./images/shadow-bg.svg);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
}

.four-columns h2 {
	text-align: center;
	margin-bottom: 66px;
}

.four-columns .features {
	margin-bottom: 35px;
	justify-content: space-between;
}

.four-columns .features .feature {
	/* flex: 1; */
	width: calc((100% / 4) - 20px);
}

.four-columns .features .feature h3 {
	margin-top: 30px;
	margin-bottom: 13px;
}

.four-columns .features .feature p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #22343d;
}

.four-columns .features .feature .img {
	width: 50px;
	height: 50px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}
.four-columns .features .feature:nth-of-type(1) .img {
	background-color: #02897a;
}
.four-columns .features .feature:nth-of-type(2) .img {
	background-color: #4d8dff;
}
.four-columns .features .feature:nth-of-type(3) .img {
	background-color: #740a76;
}
.four-columns .features .feature:nth-of-type(4) .img {
	background-color: #f03e3d;
}

.three-rows {
	background-image: url(./images/shadow-bg-reversed.svg);
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;
}

.three-rows .content-container > p {
	max-width: 70%;
	text-align: center;
}

.chat-container {
    width: 100%;
}

.chat-container .chat-column {
    width: calc(100%/2 - 60px);
}

.chat-container .chat-row {
    margin-bottom: 35px;
}

.chat-container .chat-row img {
	width: 98px;
	height: 98px;
	margin-right: 16px;
}

.chat-container .chat-row.flex-row-reverse img {
    margin-right: 0;
    margin-left: 16px;
}

.chat-container .chat-row span {
	position: relative;
	background: #fff;
	border-radius: 30px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	padding: 15px 25px;
	position: relative;
}
.chat-container .chat-row span::before {
	position: absolute;
	display: block;
	content: "";
	width: 17px;
	height: 17px;
	border-radius: 17px;
	background: #fff;
	left: 30px;
	bottom: -8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.chat-container .chat-row span::after {
	position: absolute;
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	border-radius: 9px;
	background: #fff;
	left: 15px;
	bottom: -20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
	/* mobile menu */
	.mobile-menu {
		display: block;
		background: transparent;
		border: none;
		margin: 0;
		cursor: pointer;
	}

	nav #mobile-menu:not(:checked) ~ .nav-container {
		/* display: none; */
		visibility: hidden;
		opacity: 0;
	}
	nav #mobile-menu:checked ~ .nav-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: calc(100% - 40px);
		top: 80px;
		left: 0;
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		padding: 15px 20px;
		visibility: visible;
		opacity: 1;
		transition: all 0.3s ease;
	}
	.main-nav {
		flex-direction: column;
	}
	.buttons-container {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		align-items: center;
	}

	.button-primary {
		min-width: 120px;
	}
	.buttons-container button + button {
		margin: 24px 0 0 0;
	}
	.switcher {
		margin: 12px 0 0 0;
	}
    .chat-container {
        flex-direction: column;
    }
    .chat-container .chat-column {
        width: 100%;
    }
    .chat-container .chat-column:nth-of-type(2) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
	section.two-columns {
		flex-direction: column-reverse;
	}
	section.two-columns > div {
		width: 100%;
	}
	.text-col {
		text-align: center;
		padding-right: 0;
	}
	.flex-row-reverse .text-col {
		padding: 0;
	}
	.img-col {
		margin-bottom: 50px;
	}
	h1 {
		font-size: 36px;
		line-height: 60px;
	}
	.four-columns .features {
		flex-direction: column;
		flex-flow: wrap;
	}
	.four-columns .features .feature {
		width: calc((100% / 2) - 20px);
		justify-content: center;
		text-align: center;
		margin-bottom: 35px;
	}
	.four-columns .features .feature .img {
		margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
	.four-columns .features .feature {
		width: 100%;
	}
}
